#navbar {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 64px;
	transition: background-color 0.2s ease-in-out;

	color: var(--icon-color);
}

/* #navbar:hover, */
#navbar.scrolledNavbar {
	background-color: #2d2d2d;
}

.navButton {
	color: var(--nav-color);
	transition: color 0.2s ease-in-out;
}

.navButton:hover {
	color: var(--nav-color-hover);
	border: 1px solid var(--nav-border-color);
}
