/* Variables */
:root {
  --true-blue: #0466c8;
  --usafa-blue: #0353a4;
  --dark-cornflower-blue: #023e7d;
  --oxford-blue: #002855;
  --oxford-blue-2: #001845;
  --oxford-blue-3: #001233;
  --independence: #33415c;
  --black-coral: #5c677d;
  --roman-silver: #7d8597;
  --manatee: #979dac;

  --bg-color-primary: #1c1c1c;

  --font-color-title: #ededed;
  --font-color-subtitle: #e5e5e5;
  --font-color-alttitle: #dcdcdc;
  --font-color-normal: #d7d7d7;
  --font-color-heavy: #0353a4;
  --font-color-link: #0353a4;

  --font-size-title: 2.5rem;
  --font-size-subtitle: 1.5rem;
  --font-size-alttitle: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.75rem;

  --font-weight-title: 700;
  --font-weight-subtitle: 600;
  --font-weight-alttitle: 500;
  --font-weight-normal: 400;
  --font-weight-small: 300;
  --font-weight-link: 600;

  --font-family-title: "Aquire", sans-serif;
  --font-family-subtitle: "Roboto";
  --font-family-alttitle: "Roboto";
  --font-family-normal: "Roboto";
  --font-family-small: "Roboto";
  --font-family-link: "Roboto";

  --loader-color: #0466c8;

  --icon-color: #ff0000;
}

/* Below is a css reset. It fixes some common issues with cross-browser compatibility. */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Actual CSS */
body,
main {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-family-normal);

  background-color: var(--bg-color-primary);
}

html {
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

.fadeIn {
  opacity: 0;
  transition: all 1s;
}

.fadeIn.visible {
  opacity: 1;
}

.swipeFromLeft {
  transform: translateX(-100vw);
  transition: all 1s;
}

.swipeFromLeft.visible {
  transform: translateX(0);
}

.swipeFromRight {
  transform: translateX(100vw);
  transition: all 1s;
}

.swipeFromRight.visible {
  transform: translateX(0);
}

@font-face {
  font-family: Aquire;
  src: url("/fonts/Aquire.otf") format("opentype");
}

@font-face {
  font-family: Aquire-Bold;
  src: url("/fonts/Aquire-Bold.otf") format("opentype");
}

h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  font-family: var(--font-family-title);
  color: var(--font-color-title);
}

h2 {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-subtitle);
  font-family: var(--font-family-subtitle);
  color: var(--font-color-subtitle);
}

h3 {
  font-size: var(--font-size-alttitle);
  font-weight: var(--font-weight-alttitle);
  font-family: var(--font-family-alttitle);
  color: var(--font-color-alttitle);
}

p {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-normal);
  color: var(--font-color-normal);
}

a {
  font-size: var(--font-color-normal);
  font-weight: var(--font-weight-link);
  font-family: var(--font-family-link);
  color: var(--font-color-link);
  text-decoration: none;
}
