#homeTitleDiv {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

#homeTitle {
  font-family: var(font-family-title);
}

#homeSubtitle {
  font-family: var(font-family-subtitle);
}
